{% extends("buyer/home.html") %}

{% block head %}
    {{ super() }}
{% endblock %}


{% block sidebar %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/supplier.css') }}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}


{% block body %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Here Is The List Of Bids On Your Tenders</legend>
        <table class="table">
            <thead class="thead-dark">
                <tr class="table_name">
                    <th>Title</th>
                    <th>Bid document</th>
                    <th>Date submitted</th>
                    <th>company information</th>
                </tr>
            </thead>
            <tbody>

               {% if tenders %}
                    {% for tender in tenders %}
                       <tr>
                           <td>{{ tender.title }}</td>
                           <td><a href="{{ url_for('download_bds_document', document_name=tender.bid_document) }}" target="_blank">{{ tender.bid_document }}</a></td>
                           <td>{{ tender.date_submitted }}</td>
                           <td><a href="{{ url_for('bidder_info', bidder_id=tender.bid_poster) }}"  onclick="javascript:getBidder({{ tender.bid_poster }})"
                                  data-toggle="modal" data-target="#exampleModal">{{ "bidder's information" }}</a></td>
                       </tr>
                   {% endfor %}
               {% endif %}

            </tbody>
        </table>
    </fieldset>














    {% if bidder %}
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Bidder's Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <p id="name">{{ bidder.company_name }}</p>
                  <p id="type">{{ bidder.company_type }}</p>
                  <p id="address">{{ bidder.address }}</p>
                  <p id="email">{{ bidder.email }}</p>
                  <p id="phone">{{ bidder.phone_number }}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    {% endif %}

    <script>
        function getBidder(company_id) {
            var request = new XMLHttpRequest();

            var url = "/buyer/company/information/bidder/" + company_id;

            request.open("GET", url);

            request.onreadystatechange = function () {
                if (request.readyState == 4 && request.status == 200){
                    var result = request.responseText;
                    alert(result[0].address);
                    return true;
                }
            };

            request.send();
        }

    </script>

{% endblock %}