{% extends("buyer.html") %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/_all-skins.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminLTE.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buyer.css') }}">
{% endblock %}



{% block sidebar %}
    <div>
        <ul>
            <li class="waves-effect waves-red sidebar-links"><a  href="{{ url_for('buyer_home') }}">Home</a></li>
            <li class="sidebar-links"><a  href="{{ url_for('publish_tender') }}">Publish Tender</a></li>
            <li class="sidebar-links"><a  href="{{ url_for('view_bids') }}">View Bids</a></li>
            <li class="sidebar-links"><a  href="{{ url_for('edit_tender') }}">Edit Tender</a></li>
            <li class="sidebar-links"><a  href="{{ url_for('get_report') }}">Get Report</a></li>
        </ul>
    </div>
{% endblock %}



{% block body %}

    <div class="container">
        <div class="row mt-2 ml-1 mr-1">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Open tenders</h3>
                </div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>status</th>
                                <th>Date published</th>
                                <th>Closing date</th>
                                <th>Tender document</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if open_tenders %}
                            {% for open_tender in open_tenders.items %}
                            <tr>
                                <td>{{ open_tender.title }}</td>
                                <td>{{ open_tender.status }}</td>
                                <td>{{ open_tender.date_published }}</td>
                                <td>{{ open_tender.date_closed }}</td>
                                <td>
                                    <a
                                        href="{{ url_for('download_tender_document', document_name=open_tender.tender_document) }}" target="_blank">{{ open_tender.tender_document }}</a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        {% for page_number in open_tenders.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                            {% if page_number %}
                                {% if open_tenders.page == page_number %}
                                    <li class="page-item"><a class="page-link btn btn-info"
                                        href="{{ url_for('buyer_home',open_tender_tender=page_number) }}">{{ page_number }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link"
                                        href="{{ url_for('buyer_home', open_tender_tender=page_number) }}">{{ page_number }}</a></li>
                                {% endif %}
                            {% else %}
                                ...
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>














        <div class="row mt-2 ml-1 mr-1">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Closed tenders</h3>
                </div>
                <div class="box-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>status</th>
                                <th>Date published</th>
                                <th>Date closed</th>
                                <th>Tender document</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if closed_tenders %}
                            {% for closed_tender in closed_tenders.items %}
                            <tr>
                                <td>{{ closed_tender.title }}</td>
                                <td>{{ closed_tender.status }}</td>
                                <td>{{ closed_tender.date_published }}</td>
                                <td>{{ closed_tender.date_closed }}</td>
                                <td>
                                    <a href="{{ url_for('download_tender_document', document_name=closed_tender.tender_document) }}" target="_blank">{{ closed_tender.tender_document }}</a>
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        {% for page_number in closed_tenders.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                            {% if page_number %}
                                {% if closed_tenders.page == page_number %}
                                    <li class="page-item"><a class="page-link btn btn-info"
                                        href="{{ url_for('buyer_home', closed_tender=page_number) }}">{{ page_number }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link"
                                        href="{{ url_for('buyer_home', closed_tender=page_number) }}">{{ page_number }}</a></li>
                                {% endif %}
                            {% else %}
                                ...
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>















        <div id="row mt-2">
            <div class="box">
                <div class="box-header with-border"><h3 class="box-title">Bids</h3></div>
                <div class="box">
                    <div class="box-header with-border"><h3 class="box-title">Closed tenders</h3></div>
                        <div class="box-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>status</th>
                                        <th>Date published</th>
                                        <th>Date closed</th>
                                        <th>Bid document</th>
                                        <th>Date submitted</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if bids %}
                                        {% for bid in bids %}
                                            <tr>
                                                <td>{{ bid.title }}</td>
                                                <td>{{ bid.status }}</td>
                                                <td>{{ bid.date_published }}</td>
                                                <td>{{ bid.date_closed }}</td>
                                                <td>{{ bid.date_submitted }}</td>
                                                <td><a href="{{ url_for('download_bds_document', document_name=bid.bid_document) }}" target="_blank">{{ bid.bid_document }}</a></td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                 </div>
            </div>
        </div>
    </div>

{% endblock %}
