{% extends("buyer.html") %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buyer.css') }}">
{% endblock %}



{% block sidebar %}
    <div>
        <ul>
            <li class="waves-effect waves-red sidebar-links"><a  href="{{ url_for('buyer_home') }}">Home</a></li>
            <li class="sidebar-links"><a  href="{{ url_for('publish_tender') }}">Publish Tender</a></li>
            <li class="sidebar-links"><a  href="{{ url_for('view_bids') }}">View Bids</a></li>
            <li class="sidebar-links"><a  href="{{ url_for('edit_tender') }}">Edit Tender</a></li>
            <li class="sidebar-links"><a  href="{{ url_for('get_report') }}">Get Report</a></li>
        </ul>
    </div>
{% endblock %}



{% block body %}
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab eaque fugit harum illo impedit tempora voluptatum.
    Ad aliquam assumenda molestias praesentium quisquam quos sunt veritatis, voluptate? Dolorum itaque laboriosam officiis.

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, incidunt nisi perspiciatis porro quis rem sed vero. Ab earum ratione voluptate! Delectus, minus modi nemo nesciunt nulla recusandae rem tempore!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque error fuga illo in ipsa iure modi sit veniam vitae. Laudantium modi molestias quo sit? Accusantium aliquid consequatur magni rerum totam.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto deleniti dolores facilis magnam quidem repellat tempora ullam! Aperiam consectetur culpa fuga ipsa itaque quam repellat tempore vel velit voluptatum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam nulla, vero. Ad adipisci architecto culpa eaque excepturi impedit inventore, magnam molestiae nulla officia perferendis provident reprehenderit saepe sapiente, suscipit voluptas.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nostrum quasi recusandae repellat sequi, temporibus veniam! Ab facilis libero molestiae quasi sint temporibus vitae? Alias excepturi natus odit velit voluptates.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, cupiditate distinctio doloribus iste nesciunt non odio perferendis quasi reiciendis rerum sed tempore totam voluptatem! Ex laudantium modi totam. Doloremque, porro?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequatur culpa earum enim explicabo facere magnam qui. Consequatur ducimus eaque impedit, inventore ipsum iusto non officiis quo ratione voluptatibus? Dolorem.
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, incidunt nisi perspiciatis porro quis rem sed vero. Ab earum ratione voluptate! Delectus, minus modi nemo nesciunt nulla recusandae rem tempore!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque error fuga illo in ipsa iure modi sit veniam vitae. Laudantium modi molestias quo sit? Accusantium aliquid consequatur magni rerum totam.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto deleniti dolores facilis magnam quidem repellat tempora ullam! Aperiam consectetur culpa fuga ipsa itaque quam repellat tempore vel velit voluptatum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam nulla, vero. Ad adipisci architecto culpa eaque excepturi impedit inventore, magnam molestiae nulla officia perferendis provident reprehenderit saepe sapiente, suscipit voluptas.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nostrum quasi recusandae repellat sequi, temporibus veniam! Ab facilis libero molestiae quasi sint temporibus vitae? Alias excepturi natus odit velit voluptates.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, cupiditate distinctio doloribus iste nesciunt non odio perferendis quasi reiciendis rerum sed tempore totam voluptatem! Ex laudantium modi totam. Doloremque, porro?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequatur culpa earum enim explicabo facere magnam qui. Consequatur ducimus e
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, incidunt nisi perspiciatis porro quis rem sed vero. Ab earum ratione voluptate! Delectus, minus modi nemo nesciunt nulla recusandae rem tempore!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque error fuga illo in ipsa iure modi sit veniam vitae. Laudantium modi molestias quo sit? Accusantium aliquid consequatur magni rerum totam.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto deleniti dolores facilis magnam quidem repellat tempora ullam! Aperiam consectetur culpa fuga ipsa itaque quam repellat tempore vel velit voluptatum.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam nulla, vero. Ad adipisci architecto culpa eaque excepturi impedit inventore, magnam molestiae nulla officia perferendis provident reprehenderit saepe sapiente, suscipit voluptas.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias nostrum quasi recusandae repellat sequi, temporibus veniam! Ab facilis libero molestiae quasi sint temporibus vitae? Alias excepturi natus odit velit voluptates.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, cupiditate distinctio doloribus iste nesciunt non odio perferendis quasi reiciendis rerum sed tempore totam voluptatem! Ex laudantium modi totam. Doloremque, porro?
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequatur culpa earum enim explicabo facere magnam qui. Consequatur ducimus e
{% endblock %}
