{% extends("buyer/home.html") %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}


{% block sidebar %}
    {{ super() }}
{% endblock %}


{% block body %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Here Is The Report Of Your Activities</legend>
        <select name="" id="filter_result">
            <option value="bid per tender">Bids per tender</option>
            <option value="most bid per tender">Tender with the most bids</option>
        </select>
        <div class="row">
            <div class="col-sm-6">
                <div class="box">
                    <div class="box-header with-border">
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <div class="ct-chart ct-perfect-fourth"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>




    <!-- jQuery 3 -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- ChartJS -->
    <script src="{{ url_for('static', filename='js/Chart.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ url_for('static', filename='js/fastclick.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ url_for('static', filename='js/adminlte.min.js') }}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{ url_for('static', filename='js/demo.js') }}"></script>
    <!-- page script -->

    <script type="text/javascript">
        var chart;
        var tender_per_month = $.get('/buyer/1/graph-data');
        tender_per_month.done(function (tenders) {
            var data = {// A labels array that can contain any sort of values
              labels: ['jan', 'Feb', 'Mar', 'April', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
              // Our series array that contains series objects or in this case series data arrays
              series: [
                tenders.tender_per_month
              ]
            };

            // Create a new line chart object where as first parameter we pass in a selector
            // that is resolving to our chart container element. The Second parameter
            // is the actual data object.
            chart = new Chartist.Bar('.ct-chart', data);
      });


    function  BidsPerTender() {
        var newData = $.get('/buyer/bid-per-tender');

        newData.done(function (tender) {
            var data = {
              // A labels array that can contain any sort of values
              labels: ['jan', 'Feb', 'Mar', 'April', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
              // Our series array that contains series objects or in this case series data arrays
              series: [
                tenders.bid_per_tender
              ]
            };

            // Create a new line chart object where as first parameter we pass in a selector
            // that is resolving to our chart container element. The Second parameter
            // is the actual data object.
            chart = new Chartist.Pie('.ct-chart', data);
        });
        
        
        $("#filter_result").on('change', BidsPerTender);
    }
    </script>
{% endblock %}