*{
    padding: 0;
    margin: 0;
    font-size: 18px;
}
.above-the-fold{
    background: linear-gradient(135deg, #0079bf, #5067c5);
}
.above-the-fold div img{
    width: 400px;
    padding-top: 50px;
}


.head-line p{
    margin-top: 80px;
    text-transform: capitalize;
    font-size: 3.25rem;
    font-weight: 600;
}
.sub-head-line{
    font-size: 2rem;
    font-weight: 500;
}
.call-for-action{
    margin-top: 40px;
    margin-bottom: 50px;
}
.call-for-action button{
    width: 20rem;
    text-transform: capitalize;
    color:  #0079bf;
}
.call-for-action button:hover{
    background: linear-gradient(135deg, #0079bf, #5067c5);
    color: #fff;
    transition: all .3s ease 0s;
    border: none;
}
.footer{
    width: 100%;
}
.col-6.mx-auto.col-md-6.order-md-1{
    margin: 50px 50px 50px 50px;
    padding: 100px 100px;
    border: 1px solid #0079bf;
}
div img{
    width: 70%;
    border: none;
    /* box-shadow: #888888; */
}
h2, p{
    text-align: center;
    color:  #0079bf;
}
.link li a img{
    height: 30px;
    width: 30px;
     display: inline-block;
}
.link li{
    list-style: none;
	display: inline-block;
	font-size: 20px;
	transition: all .5s ease 0s;
	width: 30px;
}
.newsletter-subscription{
    background-color: #E1DFDF;
}