{% extends('layout.html') %}

{% block head %}
    {{ super() }}
          <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landingPage.css') }}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="above-the-fold row align-items-center pt-7 pb-6 text-white">
            <div class="col-6 mx-auto col-md-6 order-md-2">
                <img src="{{ url_for('static', filename='images/business-resilliency.png') }}">
            </div>

            <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
                <div class="head-line">
                    <p style="color: #fff;">let us grow your<br>business</p>
                </div>
                <div class="sub-head-line">we provide tender opportunity<br> for your business to grow</div>
                <div class="call-for-action">
                    <a href="{{ url_for('login') }}"><button class="btn btn-primary btn-lg"
                            style="background-color: #fff;">Join today</button></a>
                </div>
            </div>
        </div>
        
        
        <div class="row">
            <div class="row align-items-center">
                <p class="col-md-6 order-md-2 text-center text-md-left pr-md-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <div class="col-6 mx-auto col-md-6 order-md-1">
                    <img src="{{ url_for('static', filename='images/financial.png') }}" alt>
                </div>
            </div>
            <div class="row align-items-center">
                <p class="col-md-6 order-md-2 text-center text-md-left pr-md-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <div class="col-6 mx-auto col-md-6 order-md-1">
                    <img src="{{url_for('static', filename='images/reports.png') }}" alt>
                </div>
            </div>
            <div class="row align-items-center">
                <p class="col-md-6 order-md-2 text-center text-md-left pr-md-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <div class="col-6 mx-auto col-md-6 order-md-1">
                    <img src="{{url_for('static', filename='images/security-p.png') }}" alt>
                </div>
            </div>
        </div>
        
        
        <div class="testimonials row">
            <div class="testimonial1 col-sm-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            <div class="testimonial2 col-sm-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            <div class="testimonial3 col-sm-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
        </div>
        
        
        <div class="newsletter-subscription row">
            <div class="container">
                <h2>Newsletter</h2>
                <p>stay upto date with our latest news</p>
                <form action="{{ url_for('subscribe') }}" method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-row align-items-center">
                        <div class="col-8">
                            {{ form.email.label(class="sr-only") }}
                            {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            {% for error in form.email.errors %}
                            <div class="invalid-feedback">
                                <span>{{ error }}</span>
                            </div>
                            {% endfor %}
                            {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="col">
                            {{ form.submit(class = "btn btn-primary btn-lg", style="background-color: #C20707") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        
        
        <div class="footer row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-4 p-5 logo">LOGO</div>
                    <div class="col-4 p-5 useful-links">
                        <ul>
                            <li><a>new tenders</a></li>
                            <li><a>new tenders</a></li>
                        </ul>
                    </div>
                    <div class="col-4 p-5 social-media link">
                        <ul>
                            <li><a href="https://www.linkedin.com/" target="_blank"><img
                                        src="{{ url_for('static', filename='images/linkedin-logo.png') }}" alt=""></a></li>
                            <li><a href="https://www.facebook.com/" target="_blank"><img
                                        src="{{ url_for('static', filename='images/facebook-letter-logo.png') }}" alt=""></a>
                            </li>
                            <li><a href="https://twitter.com/" target="_blank"><img
                                        src="{{ url_for('static', filename='images/twitter-logo.png') }}" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}