{% extends('supplier/layout.html') %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/supplier.css') }}">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="search-bar">
            <form class="search">
                <input name="search-here" placeholder="search here" id="input">
                <button type="button" name="search" id="search_btn" onclick="javascript:getTender(document.getElementById('input').value)">search</button>
            </form>
        </div>

        <table class="table">
            <thead class="thead-dark">
                <tr class="table_name">
                    <th scope="col">#</th>
                    <th scope="col">Entity type</th>
                    <th scope="col">Entity name</th>
                    <th scope="col">Title</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date published</th>
                    <th scope="col">Closing date</th>
                    <th scope="col">Tender document</th>
                </tr>
            </thead>
            <tbody>
                {% for tender in tenders.items %}
                    <tr>
                        <th scope="row">{{ 1 }}</th>
                        <td>{{ tender.entity_type }}</td>
                        <td>{{ tender.entity_name }}</td>
                        <td>{{ tender.title }}</td>
                        <td>{{ tender.status }}</td>
                        <td>{{ tender.date_published }}</td>
                        <td>{{ tender.date_closed }}</td>
                        <td><a href="{{ url_for('tender_document', tender_id=tender.id) }}">{{ tender.tender_document }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        {% for page_number in tenders.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                            {% if page_number %}
                                {% if tenders.page == page_number %}
                                    <li class="page-item"><a class="btn btn-primary btn-sm"
                                        href="{{ url_for('supplier_home', page=page_number) }}">{{ page_number }}</a></li>
                                {% else %}
                                    <li class="page-item"><a class="btn btn-outline-primary btn-sm"
                                        href="{{ url_for('supplier_home', page=page_number) }}">{{ page_number }}</a></li>
                                {% endif %}
                            {% else %}
                                ...
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

        <div class="footer">
            <div class="footer-top">
            </div>
            <div class="footer-bottom">
                <label>copyright &copy 2019-All Rights Reserved.</label>
            </div>
        </div>
    </div>

    <script>
        function getTender(keyword) {
            var request = new XMLHttpRequest();

            var url = "/supplier/search-tender/" + keyword;
            
            request.open("GET", url);

            {#request.setRequestHeader('content-type', 'application/x-www-form-urlencoded');#}
            
            request.onreadystatechange = function () {
                if (request.readyState == 4 && request.status == 200){
                    var result = request.responseText;
                    alert(result);
                    return true;
                }
            };

            request.send();
        }

    </script>
{% endblock %}