{% extends('layout.html') %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
    <div class="container register-container">
        <div class="div-form">
            <h2>Register</h2>
            <form action="{{ url_for('register') }}" method="post" class="login-form">
                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}

                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-sm is-invalid") }}
                        {% for error in form.email.errors %}
                            <div class="invalid-feedback">
                                <span>{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.email(class="form-control form-control-sm") }}
                    {% endif %}
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>

                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}

                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-sm is-invalid") }}
                        {% for error in form.password.errors %}
                            <div class="invalid-feedback">
                                <span>{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.password(class="form-control form-control-sm") }}
                    {% endif %}
                </div>


                <div class="form-group">
                    {{ form.confirm_password.label(class= "form-control-label") }}

                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class = "form-control form-control-sm is-invalid") }}
                        {% for error in form.confirm_password.errors %}
                            <div class="invalid-feedback">
                                <span>{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                        {{ form.confirm_password(class = "form-control form-control-sm") }}
                    {% endif %}
                </div>


                <div class="form-group">
                    {{ form.user_type.label(class = "form-contol-label") }}
                    {% if form.user_type.errors %}
                         {{ form.user_type(class="form-control is-invalid") }}
                        {% for error in form.user_type.errors %}
                            <div class="invalid-feedback">
                                <span>{{ error }}</span>
                            </div>
                        {% endfor %}
                    {% else %}
                         {{ form.user_type(class="form-control") }}
                    {% endif %}
                </div>


                <div class="form-group">
                    {{ form.register(class="btn btn-primary btn-lg btn-block", style="background-color: #C20707") }}
                </div>


            </form>
            <p>already have an account? <span><a href="{{ url_for('login') }}">Login here.</a></span></p>
        </div>
    </div>
{% endblock %}